<%= form_for @detalle_pichanga, :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Detalle Pichanga</legend>

    <div class="control-group">
      <%= f.label :idpichanga, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :idpichanga, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :idusuario, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :idusuario, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :montoJugador, :class => 'control-label' %>
      <div class="controls">
        <%= f.number_field :montoJugador, :class => 'number_field' %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :flagParticipo, :class => 'control-label' %>
      <div class="controls">
        <%= f.check_box :flagParticipo, :class => 'check_box' %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', detalle_pichangas_path, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
